
# Python
__pycache__/
*.py[cod]
*$py.class

# Django
*.log
local_settings.py
db.sqlite3

# Environment
.env
.venv
env/
venv/
ENV/

# IDE
.vscode/
.idea/

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Media (Optional: Uncomment to exclude user uploads if using cloud storage)
# media/
